{{#modal-dialog}}
  <div class="alert alert-danger text-center">
    <strong>Lỗi!</strong> Không thể tải bài viết chi tiết.
  </div>
  <div class="text-center">
    <button class="btn btn-default" {{action "closeModal"}}>Đóng</button>
  </div>
{{/modal-dialog}}
