<DebugConsole />

<header class="navbar navbar-default">
  <div class="container">
    <h3>📚 Ember Blog</h3>
  </div>
</header>

<main class="container">
  {{outlet}}
</main>

{{! Outlet phụ cho modal }}
{{outlet "modal"}}

<footer class="text-center text-muted footer-spaced">
  <small>© 2025 Ember Blog Demo</small>
</footer>
